body{
    font-family: 'Dosis', sans-serif!important;
    padding: 0!important;
    margin: 0!important;
    overflow-x: hidden;
}

.mainBody{
    padding: 0!important;
    margin: 0!important;
    overflow-x: hidden;
}

.nav-item{
    padding-left: 2em;
    padding-right: 2em;
}

.panelOne{
    height: 100vh;
    padding-top: 40vh;
    background-image: url('../Resources/Images/logo.png');
    background-position: center 35em;
    background-size: contain;
    background-repeat: no-repeat;
}

.title{
    font-size: 3em;
    font-weight: bolder;
}

.subtitle ul li{
    list-style: none;
    display: inline-block;
    padding: 3em;
    font-weight: bolder;
}

.panelTwo{
    background-color: #373737;
    color: white;
    height: 100vh;
    -webkit-box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.75);
}

.arBackground{
    background-image: url('../Resources/Images/phone-image@2x.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.arText{
    padding-top: 20vh;
}

.artitle{
    font-size: 3em;
    padding-right: 16.5vw;
}

.redify{
    color: red;
}

.info{
    color: #95989A;
}

.panelThree{
    color: black;
    height: 100vh;
    background-image: url('../Resources/Images/NoPath\ -\ Copy\ \(2\).png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 80em;
}

.vrtitle{
    font-size: 3em;
    font-weight: bolder;
}

.vrText{
    padding-top: 20vh;
    height: 5vh;
}

.vrBackground{
    background-repeat: no-repeat;
}

.vrInfo p{
    padding-top: 20vh;
    padding-left: 10em;
}

.smallScreen{
    display: none;
}

.arsmallScreen{
    display: none;
}

.panelFour{
    color: white;
    background-color: #373737;
    -webkit-box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.75);
}

.productTitle{
    padding-top: 3em;
    font-size: 3em;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-position: center;
    background-size: 70vw;
  }

.carousel-inner{
    background-color: #373737;
    padding-bottom: 5em;
}

.panelFive{
    min-height: 100vh;
    background-image: url('../Resources/Images/logo.png');
    background-repeat: no-repeat;
    background-position: center -45em;
    background-size: contain;
}

.services{
    padding-top: 35vh;
}

.servicesTitle{
    font-weight: bolder;
    font-size: 3em;
    margin-bottom: 2em;
}

.subService{
    padding-top: 1em;
    font-weight: bolder;
}

.serviceInfo{
    padding-top: 3em;
    font-weight: bolder;
    font-size: 1.25em;
}

.serviceButton{
    margin-top: 3em;
}

.panelSix{
    min-height: 100vh;
    padding-top: 15em;
}

.teamTitle{
    font-weight: bolder;
    font-size: 3em;
}

.teamMember{
    padding-top: 3em;
}

.centerBlock{
    padding-top: 6em;
}

.panelSeven{
    min-height: 25vh;
    padding-top: 15em;
}

.clientTitle{
    font-weight: bolder;
    font-size: 3em; 
}

.panelEight{
    color: white;
    height: 100vh;
}

.cTitle{
    margin-top: 3em;
    margin-bottom: 3em;
}

.slider{
    margin-top: 15em;
    margin-bottom: 15em;
}


/* Client Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Client Slider End */

@media (max-width: 786px){
    body{
        overflow-x: hidden!important;
    }
    .subtitle{
        margin-left: -2em;
    }
    .subtitle ul li{
        list-style: none;
        display: inline-block;
        padding: 1rem;
        font-weight: bolder;
    }
    .panelTwo{
        background-color: #373737;
        color: white;
        height: 120vh;
        -webkit-box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.75);
    }
    .arBackground{
        height: 50vh;
        background-image: url('../Resources/Images/phone-image@2x.png');
        background-position: center 2em;
        background-size: 20em;
        background-repeat: no-repeat;
    }
    .arsmallScreen{
        padding: 2em;
        display: block;
    }
    .panelThree{
        color: black;
        height: 120vh;
        overflow: hidden;
        background-image: url('../Resources/Images/NoPath\ -\ Copy\ \(2\).png');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 40em;
        text-align: center;
        padding: 2em;
    }
    .vrTitleBlock{
        margin-left: -3em;
    }
    .vrInfo p{
        padding-top: 0;
        padding-right: 0;
    }
    .mainScreen{
        display: none;
    }
    .smallScreen{
        margin-top: -20vh!important;
        display: block;
    }
    .productTitle{
        padding-top: 1em;
    }
    .carousel-item {
        background-size: 90vw;
        height: 40vh;
    }
    .cFormPanel{
        border-radius: 0px!important;
    }
    .cTitle{
        
        padding: 2em!important;
    }
    .cText{
        padding: 2em!important;
    }
    .cform{
        margin-top: 4em!important;
    }
}